@import url(./libraries/variables.css);
@import url(./libraries/flex.css);
@import url(./libraries/typography.css);
@import url(./libraries/position.css);
@import url(./libraries/box.css);
@import url(./libraries/img.css);
@import url(./libraries/grid.css);
@import url(./libraries/display.css);
@import url(./libraries/overflow.css);
@import url(./libraries/dimensions.css);


@media (min-width: 1200px) {

    header{
        z-index: 9999;
        top: 0;
        right: 0;
        left: 0;
    }

    summary {
        list-style-type: none;
      }
      
      summary::-webkit-details-marker {
        display: none;
      }

    .qa-grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 80%;
        overflow: auto;
    }

    .custom-grid{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .custom-grid-s3{
        height: 1000px;
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: 1fr 2fr 2fr;
    }

}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
    header{
        z-index: 9999;
        top: 0;
        right: 0;
        left: 0;
    }
    
    summary {
        list-style-type: none;
      }
      
      summary::-webkit-details-marker {
        display: none;
      }

    
    .qa-grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 80%;
        overflow: auto;
    }
    
    .custom-grid{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    
    .custom-grid-s3{
        height: 700px;
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: 1fr 2fr 2fr;
    }
    }
    
@media screen and (min-width: 750px) and (max-width: 1000px) {
    header{
        z-index: 9999;
        top: 0;
        right: 0;
        left: 0;
    }
    
    summary {
        list-style-type: none;
      }
      
      summary::-webkit-details-marker {
        display: none;
      }

    
    .qa-grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 80%;
        overflow: auto;
    }
    
    .custom-grid{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    
    .custom-grid-s3{
        height: 700px;
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: 1fr 2fr 2fr;
    }
}

@media screen and (min-width : 400px) and (max-width : 750px){

    header{
        z-index: 9999;
        top: 0;
        right: 0;
        left: 0;
    }
    
    summary {
        list-style-type: none;
      }
      
      summary::-webkit-details-marker {
        display: none;
      }

    
    .qa-grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 80%;
        overflow-y: auto;
        overflow-x: hidden;
    }
    
    .custom-grid{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    
    .custom-grid-s3{
        height: 400px;
        grid-template-columns: 40% 20% 40%;
        grid-template-rows: 1fr 1fr 1fr;
    }

}
@media screen and (min-width : 250px) and (max-width : 400px){

    header{
        z-index: 9999;
        top: 0;
        right: 0;
        left: 0;
    }
    
    summary {
        list-style-type: none;
      }
      
      summary::-webkit-details-marker {
        display: none;
      }

    
    .qa-grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    .custom-grid-top{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
    
    .custom-grid-s3{
        height: 400px;
        grid-template-columns: 40% 20% 40%;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .custom-grid-locale{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

}

