@import url(./libraries/variables.css);
@import url(./libraries/flex.css);
@import url(./libraries/typography.css);
@import url(./libraries/position.css);
@import url(./libraries/box.css);
@import url(./libraries/img.css);
@import url(./libraries/grid.css);

/* Larger than mobile */
@media (min-width: 400px) {}
header{
    z-index: 9999;
    top: 0;
    right: 0;
    left: 0;
}
/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}
header{
    z-index: 9999;
    top: 0;
    right: 0;
    left: 0;
}
/* Larger than tablet */
@media (min-width: 750px) {}
header{
    z-index: 9999;
    top: 0;
    right: 0;
    left: 0;
}
/* Larger than desktop */
@media (min-width: 1000px) {}
header{
    z-index: 9999;
    top: 0;
    right: 0;
    left: 0;
}
/* Larger than Desktop HD */
@media (min-width: 1200px) {

    header{
        z-index: 9999;
        top: 0;
        right: 0;
        left: 0;
    }

    summary {
        list-style-type: none;
      }
      
      summary::-webkit-details-marker {
        display: none;
      }
      

    .custom-grid{
        grid-template-columns: 20% 1fr 20%;
        grid-template-rows: repeat(3, 1fr);
    }

    .customgrid_maintop{
        grid-template-columns: 100%;
        grid-template-rows: 600px 700px;
    }

    .grid-news{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px 1fr 2fr;
    }

    .custom-grid-s3{
        height: 700px;
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: 1fr 2fr 2fr;
    }

}