.is-paddingless {
  padding: 0;
}

/* General padding */

.p-3xs-2xs {
  padding: var(--space-3xs-2xs);
}

.p-2xs-xs {
  padding: var(--space-2xs-xs);
}

.p-xs-s {
  padding: var(--space-xs-s);
}

.p-s-m {
  padding: var(--space-s-m);
}

.p-m-l {
  padding: var(--space-m-l);
}

.p-l-xl {
  padding: var(--space-l-xl);
}

.p-xl-2xl {
  padding: var(--space-xl-2xl);
}

.p-2xl-3xl {
  padding: var(--space-2xl-3xl);
}

/* #endregion */

/*           Padding Y Axis           */

.py-3xs-2xs {
  padding-top: var(--space-3xs-2xs);
  padding-bottom: var(--space-3xs-2xs);
}

.py-2xs-xs {
  padding-top: var(--space-2xs-xs);
  padding-bottom: var(--space-2xs-xs);
}

.py-xs-s {
  padding-top: var(--space-xs-s);
  padding-bottom: var(--space-xs-s);
}

.py-s-m {
  padding-top: var(--space-s-m);
  padding-bottom: var(--space-s-m);
}

.py-m-l {
  padding-top: var(--space-m-l);
  padding-bottom: var(--space-m-l);
}

.py-l-xl {
  padding-top: var(--space-l-xl);
  padding-bottom: var(--space-l-xl);
}

.py-xl-2xl {
  padding-top: var(--space-xl-2xl);
  padding-bottom: var(--space-xl-2xl);
}

.py-2xl-3xl {
  padding-top: var(--space-2xl-3xl);
  padding-bottom: var(--space-2xl-3xl);
}

/*           Padding X Axis           */

.px-3xs-2xs {
  padding-left: var(--space-3xs-2xs);
  padding-right: var(--space-3xs-2xs);
}

.px-2xs-xs {
  padding-left: var(--space-2xs-xs);
  padding-right: var(--space-2xs-xs);
}

.px-xs-s {
  padding-left: var(--space-xs-s);
  padding-right: var(--space-xs-s);
}

.px-s-m {
  padding-left: var(--space-s-m);
  padding-right: var(--space-s-m);
}

.px-m-l {
  padding-left: var(--space-m-l);
  padding-right: var(--space-m-l);
}

.px-l-xl {
  padding-left: var(--space-l-xl);
  padding-right: var(--space-l-xl);
}

.px-xl-2xl {
  padding-left: var(--space-xl-2xl);
  padding-right: var(--space-xl-2xl);
}

.px-2xl-3xl {
  padding-left: var(--space-2xl-3xl);
  padding-right: var(--space-2xl-3xl);
}

/*             Padding Top            */

.pt-3xs-2xs {
  padding-top: var(--space-3xs-2xs);
}

.pt-2xs-xs {
  padding-top: var(--space-2xs-xs);
}

.pt-xs-s {
  padding-top: var(--space-xs-s);
}

.pt-s-m {
  padding-top: var(--space-s-m);
}

.pt-m-l {
  padding-top: var(--space-m-l);
}

.pt-l-xl {
  padding-top: var(--space-l-xl);
}

.pt-xl-2xl {
  padding-top: var(--space-xl-2xl);
}

.pt-2xl-3xl {
  padding-top: var(--space-2xl-3xl);
}

/*           Padding Bottom           */

.pb-3xs-2xs {
  padding-bottom: var(--space-3xs-2xs);
}

.pb-2xs-xs {
  padding-bottom: var(--space-2xs-xs);
}

.pb-xs-s {
  padding-bottom: var(--space-xs-s);
}

.pb-s-m {
  padding-bottom: var(--space-s-m);
}

.pb-m-l {
  padding-bottom: var(--space-m-l);
}

.pb-l-xl {
  padding-bottom: var(--space-l-xl);
}

.pb-xl-2xl {
  padding-bottom: var(--space-xl-2xl);
}

.pb-2xl-3xl {
  padding-bottom: var(--space-2xl-3xl);
}

/*            Padding Right           */

.pr-3xs-2xs {
  padding-right: var(--space-3xs-2xs);
}

.pr-2xs-xs {
  padding-right: var(--space-2xs-xs);
}

.pr-xs-s {
  padding-right: var(--space-xs-s);
}

.pr-s-m {
  padding-right: var(--space-s-m);
}

.pr-m-l {
  padding-right: var(--space-m-l);
}

.pr-l-xl {
  padding-right: var(--space-l-xl);
}

.pr-xl-2xl {
  padding-right: var(--space-xl-2xl);
}

.pr-2xl-3xl {
  padding-right: var(--space-2xl-3xl);
}

/*            Padding Left            */
.pl-3xs-2xs {
  padding-left: var(--space-3xs-2xs);
}

.pl-2xs-xs {
  padding-left: var(--space-2xs-xs);
}

.pl-xs-s {
  padding-left: var(--space-xs-s);
}

.pl-s-m {
  padding-left: var(--space-s-m);
}

.pl-m-l {
  padding-left: var(--space-m-l);
}

.pl-l-xl {
  padding-left: var(--space-l-xl);
}

.pl-xl-2xl {
  padding-left: var(--space-xl-2xl);
}

.pl-2xl-3xl {
  padding-left: var(--space-2xl-3xl);
}

.is-marginless {
  margin: 0;
}

/* General margin */

.m-auto {
  margin: auto;
}

.m-3xs-2xs {
  margin: var(--space-3xs-2xs);
}

.m-2xs-xs {
  margin: var(--space-2xs-xs);
}

.m-xs-s {
  margin: var(--space-xs-s);
}

.m-s-m {
  margin: var(--space-s-m);
}

.m-m-l {
  margin: var(--space-m-l);
}

.m-l-xl {
  margin: var(--space-l-xl);
}

.m-xl-2xl {
  margin: var(--space-xl-2xl);
}

.m-2xl-3xl {
  margin: var(--space-2xl-3xl);
}

/*           margin Y Axis           */

.mY-3xs-2xs {
  margin-top: var(--space-3xs-2xs);
  margin-bottom: var(--space-3xs-2xs);
}

.mY-2xs-xs {
  margin-top: var(--space-2xs-xs);
  margin-bottom: var(--space-2xs-xs);
}

.mY-xs-s {
  margin-top: var(--space-xs-s);
  margin-bottom: var(--space-xs-s);
}

.mY-s-m {
  margin-top: var(--space-s-m);
  margin-bottom: var(--space-s-m);
}

.mY-m-l {
  margin-top: var(--space-m-l);
  margin-bottom: var(--space-m-l);
}

.mY-l-xl {
  margin-top: var(--space-l-xl);
  margin-bottom: var(--space-l-xl);
}

.mY-xl-2xl {
  margin-top: var(--space-xl-2xl);
  margin-bottom: var(--space-xl-2xl);
}

.mY-2xl-3xl {
  margin-top: var(--space-2xl-3xl);
  margin-bottom: var(--space-2xl-3xl);
}

/* #region - margin x Axis  */

.MX-Auto {
  margin-left: auto;
  margin-right: auto;
}

.MX-3xs-2xs {
  margin-left: var(--space-3xs-2xs);
  margin-right: var(--space-3xs-2xs);
}

.MX-2xs-xs {
  margin-left: var(--space-2xs-xs);
  margin-right: var(--space-2xs-xs);
}

.MX-xs-s {
  margin-left: var(--space-xs-s);
  margin-right: var(--space-xs-s);
}

.MX-s-m {
  margin-left: var(--space-s-m);
  margin-right: var(--space-s-m);
}

.MX-m-l {
  margin-left: var(--space-m-l);
  margin-right: var(--space-m-l);
}

.MX-l-xl {
  margin-left: var(--space-l-xl);
  margin-right: var(--space-l-xl);
}

.MX-xl-2xl {
  margin-left: var(--space-xl-2xl);
  margin-right: var(--space-xl-2xl);
}

.MX-2xl-3xl {
  margin-left: var(--space-2xl-3xl);
  margin-right: var(--space-2xl-3xl);
}
/* #endregion */

/* #region - Margin Top */
.mtop-3xs-2xs {
  margin-top: var(--space-3xs-2xs);
}
.mtop-2xs-xs {
  margin-top: var(--space-2xs-xs);
}
.mtop-xs-s {
  margin-top: var(--space-xs-s);
}
.mtop-s-m {
  margin-top: var(--space-s-m);
}
.mtop-m-l {
  margin-top: var(--space-m-l);
}
.mtop-l-xl {
  margin-top: var(--space-l-xl);
}
.mtop-xl-2xl {
  margin-top: var(--space-xl-2xl);
}
.mtop-2xl-3xl {
  margin-top: var(--space-2xl-3xl);
}
/* #endregion */

/* #region - Margin Bottom */
.mbot-3xs-2xs {
  margin-bottom: var(--space-3xs-2xs);
}
.mbot-2xs-xs {
  margin-bottom: var(--space-2xs-xs);
}
.mbot-xs-s {
  margin-bottom: var(--space-xs-s);
}
.mbot-s-m {
  margin-bottom: var(--space-s-m);
}
.mbot-m-l {
  margin-bottom: var(--space-m-l);
}
.mbot-l-xl {
  margin-bottom: var(--space-l-xl);
}
.mbot-xl-2xl {
  margin-bottom: var(--space-xl-2xl);
}
.mbot-2xl-3xl {
  margin-bottom: var(--space-2xl-3xl);
}
/* #endregion */

/*            margin Right           */

.mr-o {
  margin-right: var(--unit-rem-0);
}

.mr-1 {
  margin-right: var(--unit-rem-1);
}

.mr-2 {
  margin-right: var(--unit-rem-2);
}

.mr-3 {
  margin-right: var(--unit-rem-3);
}

.mr-4 {
  margin-right: var(--unit-rem-4);
}

/*            margin Left            */
.ml-o {
  margin-left: var(--unit-rem-0);
}

.ml-1 {
  margin-left: var(--unit-rem-1);
}

.ml-2 {
  margin-left: var(--unit-rem-2);
}

.ml-3 {
  margin-left: var(--unit-rem-3);
}

.ml-4 {
  margin-left: var(--unit-rem-4);
}

/* border */

.is-borderless {
  border: 0;
}

.bd-light-shades {
  border: 3px solid var(--light-shades);
}

.bd-light-accent {
  border: 3px solid var(--light-accent);
}

.bd-main-brand-color {
  border: 3px solid var(--main-brand-color);
}

.bd-dark-accent {
  border: 3px solid var(--dark-accent);
}

.bd-dark-shades {
  border: 3px solid var(--dark-shades);
}

/* border top */

.bdt-light-shades {
  border-top: 3px solid var(--light-shades);
}

.bdt-light-accent {
  border-top: 3px solid var(--light-accent);
}

.bdt-main-brand-color {
  border-top: 3px solid var(--main-brand-color);
}

.bdt-dark-accent {
  border-top: 3px solid var(--dark-accent);
}

.bdt-dark-shades {
  border-top: 3px solid var(--dark-shades);
}

/* border bottom */

.bdb-light-shades {
  border-bottom: 3px solid var(--light-shades);
}

.bdb-light-accent {
  border-bottom: 3px solid var(--light-accent);
}

.bdb-main-brand-color {
  border-bottom: 3px solid var(--main-brand-color);
}

.bdb-dark-accent {
  border-bottom: 3px solid var(--dark-accent);
}

.bdb-dark-shades {
  border-bottom: 3px solid var(--dark-shades);
}

/* border radius */

.br-3xs-2xs {
  border-radius: var(--space-3xs-2xs);
}

.br-2xs-xs {
  border-radius: var(--space-2xs-xs);
}

.br-xs-s {
  border-radius: var(--space-xs-s);
}

.br-s-m {
  border-radius: var(--space-s-m);
}

.br-m-l {
  border-radius: var(--space-m-l);
}

.br-l-xl {
  border-radius: var(--space-l-xl);
}

.br-xl-2xl {
  border-radius: var(--space-xl-2xl);
}

.br-2xl-3xl {
  border-radius: var(--space-2xl-3xl);
}


.brtop-3xs-2xs {
  border-top-left-radius: var(--space-3xs-2xs);
  border-top-right-radius: var(--space-3xs-2xs);
}

.brtop-2xs-xs {
  border-top-left-radius: var(--space-2xs-xs);
  border-top-right-radius: var(--space-2xs-xs);
}

.brtop-xs-s {
  border-top-left-radius: var(--space-xs-s);
  border-top-right-radius: var(--space-xs-s);
}

.brtop-s-m {
  border-top-left-radius: var(--space-s-m);
  border-top-right-radius: var(--space-s-m);
}

.brtop-m-l {
  border-top-left-radius: var(--space-m-l);
  border-top-right-radius: var(--space-m-l);
}

.brtop-l-xl {
  border-top-left-radius: var(--space-l-xl);
  border-top-right-radius: var(--space-l-xl);
}

.brtop-xl-2xl {
  border-top-left-radius: var(--space-xl-2xl);
  border-top-right-radius: var(--space-xl-2xl);
}

.brtop-2xl-3xl {
  border-top-left-radius: var(--space-2xl-3xl);
  border-top-right-radius: var(--space-2xl-3xl);
}