.f-width {
  width: 100vw;
}
.f-height {
  height: 100vh;
}

@media screen and (max-width: 300px) {

  .qa-dim{
    width: 100%;
    max-height: 30%;
  }
}

.gen-dim-sec{
  width: 100%;
  height: 100%;
  max-height: 700px;
}

/* width */

.width-3xs-2xs {
  width: var(--space-3xs-2xs);
}
.width-2xs-xs {
  width: var(--space-2xs-xs);
}
.width-xs-s {
  width: var(--space-xs-s);
}
.width-s-m {
  width: var(--space-s-m);
}
.width-m-l {
  width: var(--space-m-l);
}
.width-l-xl {
  width: var(--space-l-xl);
}
.width-xl-2xl{
  width: var(--space-xl-2xl);
}
.width-2xl-3xl {
  width: var(--space-2xl-3xl);
}

/* height */

.height-3xs-2xs {
  height: var(--space-3xs-2xs);
}
.height-2xs-xs {
  height: var(--space-2xs-xs);
}
.height-xs-s {
  height: var(--space-xs-s);
}
.height-s-m {
  height: var(--space-s-m);
}
.height-m-l {
  height: var(--space-m-l);
}
.height-l-xl {
  height: var(--space-l-xl);
}
.height-xl-2xl{
  height: var(--space-xl-2xl);
}
.height-2xl-3xl {
  height: var(--space-2xl-3xl);
}
