.grid{
    display: grid;
}

.max-grid-dim{
    width: 100%;
    height: 100%;
    max-height: 700px;
    display: grid;
}

.align_grid-c{
    align-items: center;
}

.justify-grid-c{
    justify-items: center;
}

.r-gap0{
    row-gap: var(--unit-px-0);
}
.r-gap1{
    row-gap: var(--unit-px-1);
}
.r-gap2{
    row-gap: var(--unit-px-2);
}
.r-gap3{
    row-gap: var(--unit-px-3);
}
.r-gap4{
    row-gap: var(--unit-px-4);
}

.c-gap0{
    column-gap: var(--unit-px-0);
}
.c-gap1{
    column-gap: var(--unit-px-1);
}
.c-gap2{
    column-gap: var(--unit-px-2);
}
.c-gap3{
    column-gap: var(--unit-px-3);
}

.grid1212{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid1223{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.grid1224{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

.grid1234{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.grid1412{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid2314{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}
.grid2412{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid1234{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.grid2323{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.grid2324{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}

.grid2334{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.grid3434{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.grid3423{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.grid4523{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.grid4534{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}