.f-img{
    width: 100%;
height: 100%;
object-fit: cover;
}

.f-img-max{
    width: 100%;
    /* max-width: var(--icon-gen-img); */
    height: 100%;
    object-fit: contain;
}

.fit-img{
    object-fit: cover;
    overflow: hidden;
}

.gen-img{
    width: 100%;
    height: 100%;
    max-height: var(--bck-gen-img);
}

.gen-icon{
    width: 100%;
    height: 100%;
    max-height: var( --icon-gen-img);
    max-width: var( --icon-gen-img);
}

.corner-roudness{
    border-top-left-radius: var(--unit-px-1);
    border-top-right-radius: var(--unit-px-1);
}

.img-brightness{
    filter: brightness(25%);
}

.brightness-towhite{
    filter: contrast(150%);
}