@import url(./variables.css);
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Nova+Mono&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

.font{
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* links  */
.links {
  text-decoration: none;
  color: var(--light-shades);
}

/* font weight */

.font-weight1 {
  font-weight: 400;
}
.font-weight2 {
  font-weight: 500;
}
.font-weight3 {
  font-weight: bold;
}
.font-weight4 {
  font-weight: bolder;
}

/* font styles */

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-underline {
  text-decoration: underline;
}

.text-italic {
  font-style: italic;
}

.text-orientation {
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
}

.l-height-t {
  line-height: 1.3;
}

.l-height-p {
  line-height: 1;
}

/* colors */
.txt-light-shades {
  color: var(--light-shades);
}
.txt-light-accent {
  color: var(--light-accent);
}

/* background color */

.bck-light-shades {
  background-color: var(--light-shades);
}
.bck-light-accent {
  background-color: var(--light-accent);
}
.bck-gradient {
  background-image: var(--background-gradient);
}

/* #region - text size */
.txts-3xs-2xs {
  font-size: var(--space-3xs-2xs);
}
.txts-2xs-xs {
  font-size: var(--space-2xs-xs);
}
.txts-xs-s {
  font-size: var(--space-xs-s);
}
.txts-s-m {
  font-size: var(--space-s-m);
}
.txts-m-l {
  font-size: var(--space-m-l);
}
.txts-l-xl {
  font-size: var(--space-l-xl);
}
.txts-xl-2xl {
  font-size: var(--space-xl-2xl);
}
.txts-2xl-3xl {
  font-size: var(--space-2xl-3xl);
}

.txt-special{
  font-size: var(--maintitle);
}
/* #endregion */

/* #region - Position & alignment */
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.pull-down {
  float: end;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
.text-down {
  text-align: end;
}

.text-justify {
  text-align: justify;
}
/* #endregion */
