:root{

    /* colors */
    --light-shades: #FBFAF4;
    --light-accent: #C8B65A;

    /* gradient */
    --background-gradient: linear-gradient(to right bottom, #511752, #6b1052, #83024e, #990045, #ab0038);;

    /* background */

    --background-light-shades: var(--light-shades);
    --background-light-accent: var(--light-accent);
    --background-main-brand-color: var(--main-brand-color);
    --background-dark-accent: var(--dark-accent);
    --background-dark-shades: var(--dark-shades);

    /* unit size */
    
    --unit-rem-0: 2rem;
    --unit-rem-1: 4rem;
    --unit-rem-2: 6rem;
    --unit-rem-3: 8rem;
    --unit-rem-4: 10rem;
    --unit-px-0: 20px;
    --unit-px-1: 40px;
    --unit-px-2: 60px;
    --unit-px-3: 80px;
    --unit-px-4: 100px;
}