/* colors: #800020  #000000 */

.flex-column{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.colors{
    background-color: rgb(223, 217, 217);
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.colors > a{
    color: azure;
}

.colors > i{
    color: #800020;
    padding-right: 10px;
}
  
::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }
  
::-webkit-scrollbar-thumb {
    background:#888;
  }

.label{
    color: white;
    background-color: rgb(128, 0, 32, 0.5);
    width: max-content;
    padding: 5px;
    border-radius: 10px;
}

  
@media screen and (min-width: 992px){

    body{
        height: 100vh;
        width: 100vw; 
        overflow-x: hidden;   
    }

    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 10px 0px 10px 0px;
        gap: 10px;
        border-bottom: 2px solid black;
        color:#800020;
    }

    #searchbar{
        border: solid 2px gray;
        border-radius: 20px;
        width: 50%;
        padding: 5px;
        color: white;
    }

     main{
        width: 100vw;
        margin-top: 60px;
        color: white;
        overflow: unset;
     }

    nav{
        overflow: scroll;
        position: fixed;
        z-index: 9999;
        padding: 15px 10px 0px 10px;
        height: 100%;
        display: flex;
        flex-direction: column;
        grid-column-start: 1;
        grid-column-end: 1;
        gap: 3%;
    }

    .navline{
        border-bottom: 1px gray solid;
        margin-bottom: 30px;
        padding-bottom: 20px;
    }

    .mainpage{
        padding: 0px 0px 0px 10px;
        margin-left: 250px;
    }

    aside{
        width: 100%;
        height: 100%;
        margin-bottom: 30px;
        
    }

    .asideanim{
        animation: slider 20s infinite;
        animation-timing-function: ease-in-out;
        gap: 1%;
    }
    
    .asideanim article:hover{
        transform: scale(105%);
    }

        @keyframes slider {
            0%{
                transform: translateX(0px);
            }

            10%{
                animation-fill-mode:backwards;
                transition-duration: 5s;
            }

            20%{
                transform: translateX(-400px);
            }

            30%{
                animation-fill-mode: forwards;
                transition-duration: 5s;
            }
            40%{
                transform: translateX(-800px);
            }

            50%{
                animation-fill-mode: forwards;
                transition-duration: 5s;
            }
            60%{
                transform: translateX(-1200px);
            }

            70%{
                animation-fill-mode: forwards;
                transition-duration: 5s;
            }
            80%{
                transform: translateX(-1600px);
            }

            90%{
                animation-fill-mode: forwards;
                transition-duration: 5s;
            }

            100%{
                transform: translateX(0px);
            }
        }

    .images{
        object-fit: cover;
        position: relative;
        border-radius: 20px;
        margin-top: 20px;
        width: 400px;
        height: 200px;
        border: #800020 1px solid;
    }

    .img-overlay{
        position: absolute;
        padding: 30px 0px 0px 5px;
        color: white;
        height: 200px;
        width: max-content;
    }

    .img-overlay > h3{
        margin-top: 20%;
    }

    #img-overlay-gray{
        color: gray;
        font-style: italic;
        font-size: 1em;
    }

    .posts{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .posts > article{
        margin-right: 60px;
    }

    .hidecontent > div{
        visibility: hidden;
    }

    .hidecontent:hover > div{
        visibility:visible;
        animation-timing-function: ease-in-out;
    }

    .postimg{
        object-fit: cover;
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 5px;
    }

    .postimg-overlay{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        padding: 5px 0px 0px 5px;
        color: white;
        height: 190px;
        width: 190px;
        width: max-content;
    }

    .postimg-overlay:hover{
        visibility: visible;
    }

    .postimg-overlay > h3{
        margin: 0;
    }
}