.rightsection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchbar{
    width: 100%;
    height: 20px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5%;
    margin: 10px;
}

.trendscapsule{
    background-color: gray;
    border-radius: 10px;
    width: 100%;
}

.title{
    color: white;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.linkcontainer{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 80%;
    height: 30px;
    border: white 1px solid;
}

.imgpost{
    height: 100%;
    object-fit: contain;
}