.logo{
    width: 10%;
    margin: 10px;
}

.listbutton{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.list_left_start{
    list-style-type: none;
    padding-left: 10px;
}

.list_left_items{
    color: white;
    font-size: 2em;
    font-weight: bold;
    padding: 10px;
}